* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #23242a;
    color: #fff;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: right;
    margin-bottom: 1em;
}

header a {
    text-decoration: none;
}

header button {
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 1.25em 0 1em;
    margin: .5em 1em 0 1em;
    border: none;
    outline: none;
    background: #1b74e4;
    border-radius: 4px;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
}

header button:hover {
    scale: 1.1;
}

header .logout {
    margin-right: 2em;
}

header button ion-icon {
    padding-right: .75em;
    padding-left: .5em;
    width: 25px;
}

.content {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

h1 {
    color: #1b74e4;
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 0.15em;
    display: flex;
    text-align: center;
}

.select-part {
    margin-right: 15%;
    display: flex;
    text-align: center;
    align-items: center;
}

label {
    font-size: 1.1em;
}

table {
    width: 100%;
    margin-bottom: 25px;
    border-collapse: collapse;
}

table thead {
    background-color: #393939;
}

table thead th {
    padding: 18px 0 18px 0;
    color: #1b74e4;
    font-size: 15px;
    line-height: 1.4;
    text-align: left;
    text-transform: uppercase;
    padding-left: 2%;
}

table tbody {
    box-sizing: border-box;
    background-color: #222;
}

table tbody tr:hover {
    background-color: rgb(45, 45, 45);
}

table tbody tr td {
    padding: 16px 0 16px 0;
    color: gray;
    font-size: 15px;
    line-height: 1.4;
    padding-left: 30px;
}

thead, tfoot {
    background-color: #333;
    color: #fff;
}

footer {
    padding-bottom: 75px;
    display: flex;
    justify-content: right;
}

footer .queryInPage {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: right;
}

footer .queryInPage label {
    margin-top: auto;
    margin-bottom: auto;
}

.select form {
    height: 2.5em;
    width: 5em;
}

select {
    height: 2.5em;
    width: 5em;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #1b74e4;
    background-image: none;
    flex: 1;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.select {
    position: relative;
    display: flex;
    width: 5em;
    height: 2.5em;
    line-height: 3;
    background: #1b74e4;
    overflow: hidden;
    border-radius: .25em;
    margin: 0 .5em;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .5em 0 .25em;
    background-color: #1b74e4;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
    border: none;
}

.select option {
    font-family: 'Poppins', sans-serif;
}

.go-to-top {
    margin: auto;
}

.go-to-top button {
    margin: auto;
    color: #fff;
    background: #000;
    padding: 8px 13px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #000;
    z-index: 999;
    transition: .3s;
}

.go-to-top button:hover {
    background: #fff;
    box-shadow: 0 0 5px 2px #fff;
    color: #000;
    border-color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .container {
        width: 95%;
    }

    header {
        margin-bottom: 0;
    }

    header button {
        margin: 0.25em 1em 0 0;
    }

    header form {
        height: 5em;
    }

    header a {
        height: 75px;
    }

    header .logout {
        margin-right: 35px;
    }

    h1 {
        font-weight: 500;
        letter-spacing: 0.05em;
    }

    .select-part {
        margin-right: 5%;
    }

    footer {
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 700px) {
    header {
        height: 75px;
        margin-bottom: 0;
    }

    header button {
        margin-right: 0;
        margin-left: 0;
        padding: 0 .5em 0 0;
        justify-content: center;
        font-size: 20px;
    }

    header .export {
        margin-right: .5em;
    }

    header a {
        width: 170px;
    }

    header .logout {
        height: 40px;
        width: 170px;
    }

    header form {
        height: 5em;
        width: 112.5px;
    }

    header a {
        height: 65px;
    }

    h1 {
        font-size: 1.5em;
        font-weight: 500;
    }

    table thead th {
        font-size: 13px;
        font-weight: 500;
    }

    table tbody tr td {
        font-size: 13px;
    }
}

@media screen and (max-width: 625px) {
    header {
        height: 45px;
        padding-bottom: 50px;
    }

    header form {
        height: 40px;
    }

    header button {
        height: 40px;
        font-size: 15px;
    }

    header a {
        height: 45px;
    }

    h1 {
        font-size: 1.25em;
    }

    .select-part {
        margin-right: 0;
    }

    select option {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 550px) {
    .content {
        width: 95%;
        overflow-y: hidden;
    }

    header {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1.5em;
    }

    .head {
        flex-direction: column;
    }

    h1 {
        width: 215px;
        margin: auto;
        margin-bottom: 1.5em;
    }

    .select-part {
        width: 258px;
        margin: auto;
        margin-bottom: 0.5em;
    }

    table thead th {
        padding-left: 0;
        padding-right: 15%;
        text-align: center;
        padding-left: 2px;

    }

    table tbody tr td {
        padding-left: 0;
        font-size: 10px;
    }

    table thead .th-email {
        padding-left: 10px;
    }

    table thead .th-note {
        padding-right: 10px;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    footer .select {
        width: 75px;
    }

    footer form {
        width: 75px;
    }

    footer form select {
        width: 75px;
    }

    label {
        font-size: 1em;
    }

    footer .queryInPage label {
        font-size: 1em;
    }

    footer .go-to-top {
        margin-left: 10px;
    }

    footer .go-to-top button {
        border-radius: 20px;
        padding: 5px 8px;
    }
}