* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #23242a;
    color: #fff;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: right;
    margin-bottom: 1em;
}

header a {
    text-decoration: none;
}

header button {
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 1.25em 0 1em;
    margin: .5em 1em 0 1em;
    border: none;
    outline: none;
    background: #1b74e4;
    border-radius: 4px;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
}

header button:hover {
    scale: 1.1;
}

header .logout {
    margin-right: 2em;
}

header button ion-icon {
    padding-right: .75em;
    padding-left: .5em;
    width: 25px;
}

.content {
    width: 90%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
}

.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

h1 {
    color: #1b74e4;
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 0.15em;
}

.select-part {
    margin-right: 15%;
}

table {
    width: 100%;
    margin-bottom: 25px;
    border-collapse: collapse;
}

table thead {
    background-color: #393939;
}

table thead th {
    padding: 18px 0 18px 0;
    color: #1b74e4;
    font-size: 15px;
    line-height: 1.4;
    text-transform: uppercase;
}

table tbody {
    box-sizing: border-box;
    background-color: #222;
}

table tbody tr:hover {
    background-color: rgb(45, 45, 45);
}

table tbody tr td {
    padding: 16px 0 16px 0;
    color: gray;
    font-size: 15px;
    line-height: 1.4;
    padding-left: 30px;
}

thead, tfoot {
    background-color: #333;
    color: #fff;
}

footer {
    padding-bottom: 75px;
}

footer .queryInPage {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: right;
}

footer .queryInPage label {
    height: 30px;
    font-size: 1.1em;
    margin-top: auto;
    margin-bottom: auto;
}
form {
    height: 3em;
}

select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #1b74e4;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.select {
    position: relative;
    display: flex;
    width: 5em;
    height: 2.5em;
    line-height: 3;
    background: #1b74e4;
    overflow: hidden;
    border-radius: .25em;
    margin: 0 .5em;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .5em 0 .25em;
    background-color: #1b74e4;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
    border: none;
}
.select option {
    font-family: 'Poppins', sans-serif;
}